#Day 12 Assignment

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Day12/Copy of general_data - general_data.csv')

In [3]:
df.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 24 columns]

In [4]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()

df['Attrition'] = label_encoder.fit_transform(df['Attrition'])

In [5]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

#Attrition vs Distance From home

In [6]:
from scipy.stats import mannwhitneyu

In [7]:
a1 = df.Attrition
a2 = df.DistanceFromHome

In [8]:
stat,p = mannwhitneyu(a1,a2)
print(stat,p)

221832.0 0.0

#####As the p value is less than 0.05 then h0 is rejected and ha is accepted.
#####H0 :- There is no significance between Attrition And Distance from home
#####H1 :- there is significance between attrition and distance 
#####Inference :- The Attrition is affected by the Distance From home.

#Attrition vs Total working years

In [13]:
from scipy.stats import mannwhitneyu

a1 = df['Attrition']
a2 = df['TotalWorkingYears']

stat,p = mannwhitneyu(a1,a2)
print(stat,p)

170527.5 0.0

#####As the p value is less than 0.05 then h0 is rejected and ha is accepted.

##### H0 :- There is no significance between Attrition And Total working Years
##### h1 :- There is significance between attrition and Total working years

##### Inference :- The Attrition is affected by the Total working years because as people 
##### with less working years swift or change company fast fast.

#Attrition vs Years at company

In [14]:
from scipy.stats import mannwhitneyu

a1 = df['Attrition']
a2 = df['YearsAtCompany']

stat,p = mannwhitneyu(a1,a2)
print(stat,p)

520357.5 0.0

#####As the p value is less than 0.05 then h0 is rejected and ha is accepted.

##### H0 :- There is no significance between Attrition And Years at company
##### h1 :- There is significance between attrition and Years at company

##### Inference :- The Attrition is affected by the Years at company because as people 
##### with less years at company swift or change company fast fast.

#Attrition vs YearsWithCurrManager

In [15]:
from scipy.stats import mannwhitneyu

a1 = df['Attrition']
a2 = df['YearsWithCurrManager']

stat,p = mannwhitneyu(a1,a2)
print(stat,p)

2101288.5 0.0

#####As the p value is less than 0.05 then h0 is rejected and ha is accepted.

##### H0 :- There is no significance between Attrition And Years with current Manager
##### h1 :- There is significance between attrition and Years with current Manager

##### Inference :- The Attrition is affected by the Years with current Manager because as people 
##### with more Years with current Manager is they are not comfortable then they leave.

# Attrition vs EmployeeCount

In [16]:
a1 = df['Attrition']
a2 = df['EmployeeCount']

stat,p = mannwhitneyu(a1,a2)
print(stat,p)

1567755.0 0.0

#####As the p value is less than 0.05 then h0 is rejected and ha is accepted.

##### H0 :- There is no significance between Attrition And Employee count
##### h1 :- There is significance between attrition and Employee count

##### Inference :- The Attrition is affected by the Employee count.

#Attrition vs NumCompaniesWorked

In [17]:
a1 = df['Attrition']
a2 = df['NumCompaniesWorked']

stat,p = mannwhitneyu(a1,a2)
print(stat,p)

2054322.0 0.0

#####As the p value is less than 0.05 then h0 is rejected and ha is accepted.

##### H0 :- There is no significance between Attrition And NumCompaniesWorked
##### h1 :- There is significance between attrition and NumCompaniesWorked

#####Inference :- The Attrition is affected by the NumCompaniesWorked because they are most likely to leave company.