# Build Dt for Bank Loan Modelling

# DV - Personal Loan
# IDV - O/p of Rf Algorithm

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name=1)

In [3]:
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
df.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 547.0 KB

In [6]:
df.columns

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [7]:
from sklearn.ensemble import RandomForestClassifier

In [8]:
from sklearn import tree

In [9]:
rf_model = RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [10]:
features = ['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Securities Account',
       'CD Account', 'Online', 'CreditCard']

In [11]:
rf_model.fit(X=df[features],y=df['Personal Loan'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=2, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [12]:
print("OOB Score")
print(rf_model.oob_score_)

OOB Score
0.987

In [13]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.041255607715503295
Experience 0.041166534679034514
Income 0.3349516462259892
ZIP Code 0.044070849536484234
Family 0.09025594118623989
CCAvg 0.17577803585175075
Education 0.15256508942880537
Mortgage 0.04356240315744273
Securities Account 0.005488969413073661
CD Account 0.05341120306776141
Online 0.008069095076752355
CreditCard 0.009424624661162413

## Important variable

* Income Family CCAvg Education

In [15]:
for feature,imp in zip(features,rf_model.feature_importances_):
    if imp>0.09:
        print(feature,imp)

Income 0.3349516462259892
Family 0.09025594118623989
CCAvg 0.17577803585175075
Education 0.15256508942880537

In [18]:
predictors = pd.DataFrame([df['Income'],df['Family'],df['CCAvg'],df['Education']]).T

In [19]:
tree_model = tree.DecisionTreeClassifier(max_depth=8)

In [20]:
tree_model.fit(X=predictors,y=df['Personal Loan'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
with open ('Assignment3.dot','w') as f:
    f = tree.export_graphviz(tree_model,feature_names=['Income','Family','CCAvg','Education'],out_file=f)