# Build a Decision Tree (DV = "Survived" , IDV = "Age ","Sex","Fare")

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv("train.csv")

In [21]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [22]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [24]:
new_Sex_var = le.fit_transform(df['Sex'])

In [25]:
df['Sex'] = new_Sex_var

In [26]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [27]:
from sklearn import tree

In [28]:
# We have 3 IDV and 1Dv inside 1DV we have 2 classes
# so 3*2 = 6 max_depth =6
tree_model = tree.DecisionTreeClassifier(max_depth=6)

In [29]:
predictors = pd.DataFrame([df['Sex'],df['Age'],df["Fare"]]).T

In [30]:
predictors.head()

   Sex   Age     Fare
0  1.0  22.0   7.2500
1  0.0  38.0  71.2833
2  0.0  26.0   7.9250
3  0.0  35.0  53.1000
4  1.0  35.0   8.0500

In [31]:
tree_model.fit(X=predictors,y=df['Survived'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=6,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [32]:
with open('Assignment1.dot','w') as f:
    f = tree.export_graphviz(tree_model,feature_names=['Sex','Age','Fare'],out_file=f)

# Rules

* If female paid fare greater than 24.808 is not survived
* Female greater than age 25.5 not survived
* Female greater than age 24.5 survived
* Female less than age 24.5 not survived
* Male greater than age 3.5 survived
* Male who paid Fare less than 19.65 not survived
* Male who paid Fare greater than 19.65 survived
* Male whose age is less than 30.75 not survived
* Male who paid Fare less than 7.91 not survived
* Male who paid Fare more than 7.91 not  survived