#question 1

In [8]:
email = input('Enter you email')

e = email.split('@')
e = e[1]
ans = e.split('.')

print("Your company name is ",ans[0])

Enter you emailhoney@bittu.com
Your company name is  bittu

#Question 2

In [14]:
l = ['without','hello','bag','world']
l.sort()
print(l)

['bag', 'hello', 'without', 'world']

#Question 3

In [17]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'apple', 'orange', 'banana', 'cherry'}

In [19]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'apple', 'banana', 'cherry'}

In [20]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [21]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [22]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'cherry'}

In [18]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

#Question 4

In [15]:
def find_missing(lst): 
    return [x for x in range(lst[0], lst[-1]+1)  
                               if x not in lst] 
  
# Driver code 
lst = [1, 2, 4, 6, 7, 9, 10] 
print(find_missing(lst))

[3, 5, 8]

#Question 5

In [16]:
test_list = [1, 3, 5, 6, 3, 5, 6, 1] 
print ("The original list is : " +  str(test_list)) 
  
# using naive method 
# to remove duplicated  
# from list  
res = [] 
for i in test_list: 
    if i not in res: 
        res.append(i) 
  
# printing list after removal  
print ("The list after removing duplicates : " + str(res))

The original list is : [1, 3, 5, 6, 3, 5, 6, 1]
The list after removing duplicates : [1, 3, 5, 6]