#Question 1 :
Research on whether addition, subtraction, multiplication, division, floor division and modulo
operations be performed on complex numbers. Based on your study, implement a Python
program to demonstrate these operations.

In [10]:
def addComplex(z1,z2):
  return z1+z2

def subComplex(z1,z2):
  return z1-z2

def mulComplex(z1,z2):
  return z1*z2

def divComplex(z1,z2):
  return z1/z2


z1 = complex(3,4)
z2 = complex(8,-2)

ans1 = addComplex(z1,z2)
ans2 = subComplex(z1,z2)
ans3 =  mulComplex(z1,z2)
ans4 = divComplex(z1,z2)


print("Addition is :",ans1)
print("Subtraction is :",ans2)
print("Multiplication is :",ans3)
print("Division is :",ans4)

Addition is : (11+2j)
Subtraction is : (-5+6j)
Multiplication is : (32+26j)
Division is : (0.23529411764705882+0.5588235294117647j)

#Question 2 :
Research on range() functions and its parameters. Create a markdown cell and write in your own
words (no copy-paste from google please) what you understand about it. Implement a small
program of your choice on the same.

#Range

##Works
Range is a function which is use to generate a number between particular numbers like for example generate any number from 1 to 100 so will use range there 
Second most popular use of range is in looping through a list of tupple with for or while loop

##Arguments

start : from where the range should start

End : Till where the last value but last one is not included

step : how much we have to skip between values

In [18]:
l = [10,20,3,30,2,1]
sum=0
for i in range(len(l)):
  sum += l[i]

print (sum)

# second tarika
s=0
for i in range(1,11):
  s+=i

print(s)

66
55

#Question 3:

 Consider two numbers. Perform their subtraction and if the result of subtraction is greater than
25, print their multiplication result else print their division result

In [20]:
def sub(a,b):
  z= a-b
  if(z>25):
    return a*b
  
  return a/b

In [22]:
sub(40 ,10)

400

#Question 4:
Consider a list of 10 elements of integer values. If the number in the list is divisible by 2, print the
result as "square of that number minus 2".

In [24]:
l = [ 20,34,2,65,41,31,6,78,4,32]
# len(l)

for i in range(len(l)):
  if(l[i]%2==0):
    z=l[i]*l[i]
    print(z-2)

398
1154
2
34
6082
14
1022

#Question 5:
Consider a list of 10 elements. Print all the elements in the list which are greater than 7 when that
number is divided 2.

In [30]:
l = [23,45,67,34,23,12,6,2,7,2,34,13]

for i in range( len (l)):
  ans = l[i]/2
  if(ans>7):
    print(l[i])

23
45
67
34
23
34